/* Variables */
* {
  margin: 0;
  padding: 0; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial";
  color: white;
  background: #292929; }

#overlay {
  background: #292929;
  padding-left: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 15px; }
  #overlay .close-button {
    display: block;
    text-align: right;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
    text-decoration: none; }
  #overlay #fileinput {
    display: none; }
  #overlay h3 {
    text-align: left;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 30px; }

#map_container {
  height: 70%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0; }

#map {
  height: 100%;
  background-color: #2a303a; }

#timeline {
  height: 30%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: white; }

#timeline-graphs {
  position: absolute;
  left: 0;
  right: 0;
  top: 42px;
  bottom: 0; }

#rangepickerBox {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 75%; }

#rangepickerGraph {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1; }

#rangepickerControls {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3; }

#rangepickerPicker {
  position: absolute;
  top: 0;
  bottom: -1px;
  width: 0;
  background: rgba(255, 0, 0, 0.5); }

#snowgraph {
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0; }

#snowgraph .graph {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1; }

#snowgraph .labels {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2; }

#snowgraph .labels span {
  position: absolute;
  top: 5px;
  font-size: 10px;
  color: #aaa; }

/* Zoom Controls */
.leaflet-control-zoom, .leaflet-control-zoom-in, .leaflet-control-zoom-out {
  border: none;
  border-radius: 0; }

a.leaflet-control-zoom-in, a.leaflet-control-zoom-out {
  background-color: #4cabd3;
  color: white;
  display: block;
  color: transparent;
  width: 28px;
  height: 28px;
  font-size: 18px;
  -webkit-transition: background-color 0.1s ease-in; }

a.leaflet-control-zoom-in {
  margin-bottom: 1px;
  line-height: 29px;
  background-image: url("../images/sprite.png");
  background-position: 9px 9px; }
  a.leaflet-control-zoom-in:hover {
    color: transparent;
    background-color: white;
    background-position: -11px 9px; }

a.leaflet-control-zoom-out {
  margin-bottom: 1px;
  line-height: 26px;
  background-image: url("../images/sprite.png");
  background-position: 9px -17px; }
  a.leaflet-control-zoom-out:hover {
    color: transparent;
    background-color: white;
    background-position: -11px -17px; }

.leaflet-control-zoom {
  box-shadow: none; }

/* Menu */
#timeline-controls {
  position: relative;
  top: 0;
  width: 100%;
  height: 42px;
  background: #292929;
  padding-left: 15px;
  box-sizing: border-box; }
  #timeline-controls label {
    color: white;
    background-color: #30434b;
    padding: 0px 12px;
    display: inline-block;
    position: relative;
    margin: 6px -4px 0px 0px;
    font-size: 12px;
    height: 29px;
    line-height: 32px;
    text-transform: uppercase;
    -webkit-transition: background-color 0.1s ease-in; }
    #timeline-controls label:hover {
      cursor: pointer;
      background-color: #3a515b; }
    #timeline-controls label:not(:last-child) {
      border-right: 1px solid rgba(255, 255, 255, 0.1); }
  #timeline-controls .toggle {
    display: none;
    margin: 0; }
    #timeline-controls .toggle:checked + label {
      background-color: #4cabd3; }
  #timeline-controls .toggle-group {
    float: left;
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    margin-right: 7px;
    padding-right: 20px; }
  #timeline-controls .toggle-group-label {
    color: white;
    font-size: 12px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0px 8px 0px 0px; }
  #timeline-controls .timedash {
    padding-left: 4px; }
  #timeline-controls .button {
    color: white;
    background-color: #30434b;
    padding: 0px 12px;
    display: inline-block;
    position: relative;
    margin: 6px 0px 0px 0px;
    font-size: 12px;
    height: 29px;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: background-color 0.1s ease-in; }
    #timeline-controls .button:hover {
      background-color: #4cabd3; }
    #timeline-controls .button.download-icon:before {
      content: '';
      padding-left: 18px;
      background-image: url("../images/sprite.png");
      background-repeat: no-repeat;
      background-position: 0px -52px; }
  #timeline-controls #download-button {
    float: right;
    margin-right: 14px;
    background-color: #67a034; }
    #timeline-controls #download-button:hover {
      background-color: #73b33a; }

.reveal-modal section {
  margin-bottom: 25px;
  padding-bottom: 20px; }
  .reveal-modal section:not(:last-child) {
    border-bottom: 1px solid #d4d4d4; }
  .reveal-modal section h5 {
    color: #4583a7;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 6px;
    padding: 0; }
  .reveal-modal section p {
    margin: 0;
    padding: 0;
    line-height: 1.4em; }
  .reveal-modal section h3 {
    font-size: 1.5em;
    line-height: 1.3em; }
  .reveal-modal section input {
    margin-top: 12px;
    height: 24px; }

#download-popup .action-link {
  background-color: #67a034; }
  #download-popup .action-link:hover {
    background-color: #73b33a; }

.spinner {
  color: transparent !important;
  background: #73b33a url("../images/spinner.gif") no-repeat 50% !important; }

#data-format-group {
  margin-top: 35px; }
  #data-format-group label {
    display: inline-block;
    margin: 0px 10px 0px 5px; }

/*lionel begin*/
#pile {
  background: #365866; }
  #pile ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left; }
  #pile li {
    margin: 0px 0px 1px 0px;
    padding: 10px 35px;
    display: block;
    width: 175px;
    background: #30434b;
    -webkit-transition: background-color 0.1s ease-in; }
    #pile li:hover {
      background-color: #3a515b; }
    #pile li.layerOn {
      background-color: #4cabd3; }
  #pile a {
    color: white;
    text-decoration: none;
    font-size: 13px; }

li.layerOn {
  background-image: url("../images/radio-on.gif"); }

li.layerOff {
  background-image: url("../images/radio-off.gif"); }

/*---*/
#buttons ul li {
  background: #30434b;
  margin-bottom: 8px;
  -webkit-transition: background-color 0.1s ease-in; }
  #buttons ul li:hover {
    background-color: #3a515b; }
  #buttons ul li a {
    font-size: 13px;
    color: white;
    text-decoration: none; }

#buttons ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left; }

#buttons li {
  margin: 0px 0px 1px 0px;
  padding: 10px 35px;
  display: block;
  width: 175px; }

li.createRegion {
  background: url("../images/bg_createRegion.gif"); }

li.importShape {
  background: url("../images/bg_importShape.gif"); }

/*lionel ende*/
#loading-indicator {
  bottom: 0;
  position: absolute;
  z-index: 1337;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.5); }
