html, body { 
	margin: 0;
	padding: 0;
	height: 100%;
}

#overlay {
	position: absolute;
	top: 20px;
	right: 20px;
	text-align: right;
	background-color: rgba(0,0,0, .2);
	border-radius: 5px;
	padding: 5px;
}

#map_container {
	height: 80%;
}

#map {
	height: 100%;
	background-color: #2a303a;
}

#timeline {
	height: 20%;
	position: relative;
}

#timeline canvas {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#timeline #snowgraph {
	z-index: 1;
}

#timeline #snowgraph_interaction {
	z-index: 2;
}